<!doctype html>
<html>
  <head>
    <title>Login - <%= siteData.siteName %></title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>Login</h1>

    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>

    <form method="POST" action="/users/loggedin">
      <label>Username:
        <input type="text" name="username" />
      </label><br/>
      <label>Password:
        <input type="password" name="password" />
      </label><br/>
      <input type="submit" value="Login" />
    </form>

    <p><a href="/">Home</a></p>
  </body>
</html>
